body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gainsboro;
    
}
h1{
    font-weight: bold;
}

img {
    width: 15%;
    height:15%;
    /* align: center;  */
    display:none;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
  }

  #p1roll{
      display: none;
  }

  #p2roll{
      display: none;
  }

  #roll{
      display: none;
  }

  #hold {
      display: none;
  }

  #aiRoll{
      display: none;
  }

  #aiHold{
      display: none;
  }

/* 
  #player1{
      background-color: darkgrey;
      color: red;
  } */
